@using System.Configuration
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            <p>Velkommen til en deployable applikasjon!</p>
            <p>Dette er appsettingen "WebServiceUrl" : @ConfigurationManager.AppSettings["WebServiceUrl"]</p>
            <h2>Bilde:</h2>
            <img src="/Images/bilde.jpg" alt="dette er miljøet ditt"/>
        </div>
    </section>
}

